*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}
.logo_div{
    display: flex;
}
.logo{
    margin-top: 40px;
    padding-left: 10px;
}
.esc2{
    width: 90px;
    height: 90px;
    cursor:pointer;
    transition: all 0.3s;
    padding-left: 20px;
}
.nav_div{
    display: flex;
    text-align:center;
    word-spacing: 25px;
    margin-right: 20px;
}
.div_a{
    margin-right: 25px;
}

h1{
    text-align: center;
    margin-bottom: 20px;
    padding-right: 25%;
}
.cont_ppal{
    display: flex;

}
/* 
section{
    margin-left: 25%; 

}*/
.secciones{
    display: inline-block;
    width: 75%;
    height: auto;
    text-align: center;
}
.h2_secc_uno{
   padding-left: 30%;

}
.div_secc_uno{
    display: inline-flex;
    margin: 20px;
}
.h2_secc_uno{
    padding-right: 30%;
}
.igualito{
    width: 50%;
}
img{
    width: 100%;
    height: 100%;
    border: 0;
}

.aside_uno{
    margin-top: 0;
    padding-top: 0;
    display: inline;
    padding-left: 20px;
}
li{
    margin-top: 20px;
}

/* footer en construccion  */
footer{
    margin-top: 40px;
}
